:root{
    --verde:#00A149;
    --verdeoscuro: #253307;
    --blanco:#fff;
    --rojo:#881014;
    --oscuro:#000;
    --rosa:#ffc2e8;
    --rosaoscuro:#ff67de;
    --rosa-claro: #ffe1f2;
    --titulos:'Arima Madurai',cursive;
    --gris: #6c757d;

}

body {
    background-color: var(--blanco);
    font-family: 'roboto', sans-serif;
}

a {
    transition: color .2s linear 0s;
}


.top-header {
    background-color: var(--rosa); 
    color: var(--oscuro);      
    position: relative;        
}
.titulo-principal {
    font-size: 1.5rem;
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    margin-left: 20px;
    padding: 10px;
    
}
.titulo-principal a {
color: #000 !important;
text-decoration: none !important;
}

.titulo-principal a:hover,
.titulo-principal a:focus {
color: var(--blanco) !important;
text-decoration: none !important;
}



.buscador {
display: flex;
align-items: center;
gap: .6rem;
flex: 1;              
max-width: 520px;      
min-width: 220px;
}


.buscador input {
flex: 1;
height: 42px;
background: #fff;
color: var(--oscuro);
border: 2px solid #000;        
border-radius: 999px;
padding: 0 1.2rem;
font-size: 1.4rem;
outline: none;
}

.buscador input::placeholder {
color: #666;
font-size: 1rem;
}


.buscador button {
width: 42px;
height: 42px;
background: #fff;
border: 2px solid #000;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}

.buscador button i {
font-size: 1.4rem;
color: #000;
}

.top-header .row {
display: flex;
align-items: center;
}


.top-header .buscador {
flex: 1;
}


.top-header .col-auto {
flex-shrink: 0;
}

.navbar-toggler {
    position: absolute;
    top: 20px;    
    right: 40px;  
    font-size: 1rem; 
    
}

.top-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-family: 'Righteous', cursive;
}

.top-nav li {
    display: inline;
    padding: .1rem .5rem;
    border-right: 1px solid #ffffff;
}

.top-nav li:last-of-type {
    border-right: 0;
}

.top-nav li a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}

.top-nav li a:hover, .top-nav li a:focus {
    color: var(--blanco);
}


.boton-carrito {
    background: none;
    border: none;
    cursor: pointer;
    position: relative; 
    color: var(--oscuro); 
    padding: 0;
    right: -17px;
    transition: color 0.3s ease;
    line-height: 1; 
}


.boton-carrito:hover {
    color: var(--verde); 
}


.boton-carrito i {
    color: var(--oscuro); 
    font-size: 1.5rem;
}


.contador-carrito {
    position: absolute;
    top: -9px; 
    right: -10px; 
    
    background-color: var(--blanco); 
    color: var(--oscuro); /* Número en negro */
    
    border-radius: 50%; 
    padding: 2px 7px;
    font-size: 0.6rem;
    font-weight: bold;
    min-width: 25px;
    text-align: center;
    line-height: 1.2;
}


.top-header .col-auto .navbar-toggler {
    position: static; 
   
}

.top-header .row > .col-auto:last-child {
   
    margin-right: 30px !important; 
}
.site-logo {
    font-size: 2rem;
    line-height: 1;
    font-family: 'roboto', sans-serif;
}


.distinta {
    font-family: 'amatic sc', cursive;
    font-weight: lighter;
}
.site-logo img {
    max-height: 60px;
}

.site-logo a {
    color: #000000;
    text-decoration: none;
}

.site-logo a:hover, .site-logo a:focus {
    color: #000;
}

.header-item {
    padding: .25rem .4rem;
    cursor: pointer;
    color: #ffa4b7;
    transition: color .2s linear 0s;
    font-weight: lighter;
    line-height: 2.5;
    text-decoration: none;
}

.header-item img {
    max-width: 220px;
    max-height: 55px;
}

.header-item-holder .header-item:hover, .header-item-holder  .header-item:focus {
    color: #000;
    text-decoration: none;
}

.nav-item {
    margin-right: 5px;
}

.nav-item:last-of-type {
    margin-right: 0;
}

.nav-item .nav-link {
    padding-top: .2rem;
    padding-bottom: .3rem;
}

.bienvenidos {
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 9px;
    color: var(--oscuro);
    margin-top: 5rem;
    text-align: center; 
}

.bienvenidos a {
    text-decoration: none; 
    color: inherit;
}
.parrafo-bienvenidos {
    font-size: 1.20rem;
    color: var(--oscuro);
    max-width: 600px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
    text-align: justify;
    font-weight: 600;
}

/*Sección sobre nosotros*/
.contenedor-nosotros{
    padding-top: 5rem;
    width: 90%;
    margin: 0 auto; 
}
@media(min-width: 768px) {
.contenedor-nosotros{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
    }   
}
.texto-nosotros, .imagenes-nosotros{
    flex: 1 1 calc(50% - 1rem) ;
}
@media (min-width: 768px){
.contenedor-nosotros.invertido{
flex-direction: row-reverse;
}
}

 
.imagenes-nosotros{
    display: flex;
    justify-content: center;
}

.imagenes-nosotros img{
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    height: auto;

}

.product-item {
    border: #000 solid 1.5px;
    border-radius: 10px;
}

.product-item:hover {
    box-shadow: #000000 0 0 10px 1px;
}

.product-item img {
    border-radius: 10px;
}

.product-name {
    font-size: 1.8rem;
    font-weight: 600;
    color: #014eb3;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-name.large {
    font-size: 21px;
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    color: #0011ff;
}

.product-name small {
    font-size: .85rem;
    display: block;
    width: 100%;
}

a.product-name:hover, a.product-name:focus {
    color: var(--rosaoscuro);
    text-decoration: none;
}

.product-description {
    font-size: 20px;      
    color: black;          
    line-height: 1.4;     
    margin-top: -10px;     
}

.product-description strong {
    color: #000;           
    font-weight: 700;     
    font-size: 20px;      
}

.product-price {
    font-size: 24px;
    font-weight: 600;
    color: #0011ff;
}

.footer-latiendita {
    background-color: var(--rosa);
    color: #000 ;
    padding-left: 150px;
    padding-right: 30px;
}
.footer-links a {
    color: #000 !important;       
    text-decoration: none !important;
}

.footer-links a:hover {
    color: var(--rosaoscuro) !important; 
}
.social-links-container a {
    color: #000 !important;  
}

.social-links-container a:hover {
    color: var(--rosaoscuro) !important; 
}

.footer-nav li {
    margin-top: 10px;
}


.product-item {
    position: relative;
    overflow: hidden;
    background-color: var(--blanco);
}

.logo-medium {
    width: 190px; 
    height: auto;
    margin-top: 10px; 
}
.new {
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 5;
    background-color: rgba(179, 144, 144, 0.85);;
    color: #fff;
    padding: 3px 15px;
    width: 0;
    transition: all .3s ease-out 0s;
}

.product-item:hover .new {
    left: 0;
    width: auto;
}

.large-holder {
    border-right: 1px solid #c0c0c0;
}

.large-holder:last-of-type {
    border-right: 0;
}

.large-icon {
    font-size: 45px;
}

.large-text {
    font-size: 25px;
    line-height: 2.6;
}

.slider-img {
    width: 100%;
    height: auto;
}

.large-icon, .large-text {
    color: #6c6c6c;
}

.img-large {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-large:hover {
    background-size: 300%;
    cursor: zoom-in;
}

.img-small {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.detail-price {
    font-weight: bold;
    font-size: 2.6rem;
    color: #616161;
    display: block;
}


.sidebar {
    border-left: 1px solid #3972aa;
    border-top: 0 solid #c7c8c9;
}

.average-rating {
    font-weight: bold;
    font-size: 4.6rem;
}

.rating-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rating-list li {
    display: inline-block;
    width: 100%;
    height: 15px;
}

.rating-list .progress {
    width: 170px;
    height: 15px;
    border-radius: 0;
    margin-right: 10px;
    float: left;
    background-color: #cccccc;
}

.rating-list .progress .progress-bar {
    font-size: 10px;
    font-weight: bold;
}

.rating-list .rating-progress-label {
    line-height: 1;
    font-size: 14px;
    float: left;
}

.bg-gray {
    background-color: #e4e4e4;
}

.ratings {
    margin-top: 5px;
}

.ratings input {
    display: none;
}

.ratings label:before {
    font-family: "Font Awesome 5 Free", fantasy;
    content: '\f005';
    font-size: 20px;
    margin-right: 3px;
    cursor: pointer;
}

.ratings label:hover:before, .ratings label:hover ~ label:before, .ratings input:checked ~ label:before {
    font-weight: bold;
}

.pagination {
    font-size: 20px;
}

.pagination .page-link {
    background-color: transparent;
    border: 0;
    margin-right: 10px;
    color: #656565;
}

.pagination .page-link:hover, .pagination .page-link:focus {
    color: #000;
}

.pagination .page-item.disabled .page-link {
    background-color: transparent;
    color: #9fa9ab;
}

.pagination .page-item.active .page-link {
    background-color: #656565;
    color: #fff;
    font-size: 23px;
    line-height: 1;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    padding-left: 0;
    padding-right: 0;
}

table td, table th {
    vertical-align: middle !important;
}

table td img {
    max-height: 80px;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.btn-rosa {
    display: inline-block;
    padding: 7px 10px;
    background-color:  #ffc2e8; /* rosa claro */
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    margin: 19px 0;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-rosa:hover, .btn-rosa:focus {
    background-color: #FF9EC7;
    color: #000000;
    text-decoration: none;
}

@media (max-width: 767.98px) {

    .sidebar {
        border-left: 0 solid #c7c8c9;
        border-top: 1px solid #c7c8c9;
    }

}

.slider-img {
    width: 100%;
    height: 55vh;         
    object-fit: cover;    
    display: block;
}

@media (max-width: 768px) {
    .slider-img {
        height: 40vh;
    }
}

 
.social-links-container a {
    display: inline-block;
    transition: color 0.3s ease; 
}


.social-links-container a:hover {
   
    color: #ff67de !important; 
}




@media (max-width: 576px) {
    .logo-header {
        width: 100px; /* Un poco más pequeño en móviles */
    }
}

/* Estilo para el botón del menú hamburguesa */

.navbar-toggler {
   
    border: none;
    padding: 0;
    line-height: 1;
}
.offcanvas-title {
  color: #000 !important;
}
.btn-close {
  filter: invert(0) !important; /* 0 = negro, 1 = blanco */
  opacity: 1 !important; /* más visible */
}

/* Estilo del ícono (asumiendo que estás usando Font Awesome para el ícono) */
.navbar-toggler-icon i {
    color: var(--oscuro); /* Color del ícono del menú */
    transition: color 0.3s ease;
}

.navbar-toggler:focus {
    /* Quitar el anillo de enfoque (focus ring) al hacer clic */
    box-shadow: none;
}

/* Estilo para los enlaces en el menú Offcanvas */
.offcanvas-body .nav-link {
    font-size: 1.2rem;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
}

.offcanvas-rosa {
    background-color: var(--rosa) !important;
}
.offcanvas-body .nav-link:hover {
    color: #ffffff !important; /* Se queda blanco, no cambia */
}
nav ul li a:hover {
    color: inherit !important;
}

.offcanvas-body .nav-link {
    color: var(--oscuro) !important; 
}

.offcanvas-body .nav-link:hover,
.offcanvas-body .nav-link:focus {
    color: #ffffff !important; 
}
.mapa {
    max-width: 98%;
    display: block;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 8px;
    border: 2px solid;
    padding: 20px;
    text-align: center;
}
.mapa iframe {
    width: 90%;
    height: 450px;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    padding: 20px;
}

.contacto {
	margin: 5%;
}

.contacto-contenedor {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px; 
  border: solid 2px red;
  border-radius: 10px;
  padding: 1rem;
  background-color: pink;
}

.contacto-form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	flex: 1; 
}

.contacto-texto {
  flex: 1;
  font-size: 2rem;
  line-height: 1.6;
  color: black;
}

.contacto-form input,
.contacto-form textarea {  
	margin-bottom: 1em;
	padding: 0.5em;
	width: 100%;
}

.blog{
  background-color: white;
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 20px;
}

.intro {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 600;
    color: var(--oscuro);
    margin-top: 50px;
    border: solid 2px;
    border-radius: 12px;
    padding: 20px;
}


/* Títulos */
.blog h2{
  font-family: "Pacifico", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: black;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 1.6rem;
  padding-bottom: .6rem;
}

.blog .consejos ol li{ margin-bottom: .8rem; }

.blog h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgb(8, 92, 8);
  font-weight: 600;
  margin-left: 50px;
}

article {
  display: flex;
  align-items: center;
  gap: 20px;           
  margin-bottom: 40px;
}

article img {
  width: 40%;       
  height: auto;
  border-radius: 8px;   
  object-fit: cover;
}

.texto-blog{
    font-size: 1.5rem;
}

.consejos ol {
  counter-reset: item;              
  list-style: none;                
  padding-left: 0;
  margin: 30px 0;
}

.consejos li {
  counter-increment: item;         
  margin-bottom: 18px;
  padding: 18px 20px;
  background: lightgrey;              
  border-left: 5px solid var(--rosaoscuro);   
  border-radius: 8px;
  font-size: 18px;
  line-height: 1.6;
  position: relative;
  font-weight: 500;
  max-width: 95%;
  margin-left: 40px;
  border: solid 1px;
}

.consejos li:hover {
    box-shadow: #000000 0 0 10px 1px;
}

/* Burbuja de número estilizada */
.consejos li::before {
  content: counter(item);
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--rosaoscuro);
  color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTENEDOR DE BOTONES DEL CATÁLOGO */
.botones-catalogo {
    display: grid;
    gap: 0.5rem;
    row-gap: 0rem;
    margin: 40px auto;
    margin-top: 20px;
    grid-template-columns: 1fr;     
    max-width: 90%;
}


.botones-catalogo a {
    display: block;
    padding: 1.2rem 1.6rem;           
    font-size: 1.4rem;             
    text-align: center;
    border-radius: 12px;            
    border: solid 1px;
    
}


@media (min-width: 768px) {
    .botones-catalogo {
        grid-template-columns: repeat(3, auto);
    }

    .botones-catalogo a {
        padding: 1rem 1.5rem;
        font-size: 1.3rem;
        
    }
}

.btn-verde{
    background-color: var(--rosa);
    border: none;
    display: inline-block;
    margin-bottom: 2rem;
}
.btn-verde:hover{
    background-color: var(--rosaoscuro);
}


.btn-carrito-tiendi {
  background-color: var(--rosaoscuro);      
  color: var(--oscuro);
  border: solid black 1px;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}


.btn-carrito-tiendi:hover {
  background-color: var(--rosaoscuro);    
  transform: scale(1.07);
  cursor: pointer;
}


.btn-carrito-tiendi i {
  font-size: 1.5rem;
}
